___

<a href='https://consolelancer.com/'><img src='consolelancer.jpeg'/></a>
___
<center><em>Content Copyright by ConsoleLancer</em></center>

## Number data type <br> 
</b>Python supports integers, floating-point numbers and complex numbers. They are defined as int, float, and complex classes in Python.

Integers and floating points are separated by the presence or absence of a decimal point. For instance, 5 is an integer whereas 5.0 is a floating-point number.

Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part.

we will primirally focuson integers and float numbers in this training

We can use the type() function to know which class a variable or a value belongs to and isinstance() function to check if it belongs to a particular class.

<b>Example <br>
Integers : </b> 3 , 5343 , 34543 <br>
<b>floating number : </b> 34.2 , 2.3 , 56.3

## Type and isinstance

In [1]:
type(1)

int

In [2]:
type(3.4)

float

In [3]:
isinstance(2,int)

True

In [4]:
isinstance(3.2,int)

False

In [5]:
isinstance(3.2,float)

True

### Arithmetic

In [6]:
#addition
20+20

40

In [7]:
#subtraction
20-12

8

In [8]:
#multiplication
3*4

12

In [9]:
#division
6/2

3.0

In [11]:
#floor division
13//5

2

In [12]:
#operators followed
(2+5) * (2*3)

42

In [13]:
#power
3**2

9

You can assign values to different variables

In [41]:
num1 = 5

In [43]:
num1

5

In [44]:
num2 = 4

In [45]:
num2

4

In [46]:
num1 * num2

20

### Python Variable Names and Naming Rules<br>
<i>Here are some important rules about variable names in Python: </i>

<b>1.You can use letters, numbers and underscore for writing variable names in Python.</b><br For example, num, sum, first_name, last_name, pay, emp_name, num1, num2 etc are valid Python variable names. [Note:] you may use upper case letters in variable names, but writing names in lower letters and using underscore between two words, if needed, is a prferred naming convention in Python, as described by Python.org documentation.<br>
<b>2.A variable name must start with a letter or underscore.</b><br Preferably, you should start a variable name with letter, it is easy to read and write. For example pay is better than _pay. Use an underscore to combine two words in the variable name, like first_name and emp_pay.<br>
<b>3.A python variable name cannot start with a number.</b><br> For exampe, 9pay and 2count is invalid variable name. But pay9 and count1 are valid variable names in Python.<br>
<b>4.Variable Names are case-sensitive.</b><br> It means that pay, PAY and Pay are three different variable names.<br>
<b>5.Whitespace is not allowed in a variable name.</b><br Therefore, if we write ‘first name’ ,it will be an invalid variable name. Whereas, using an _ character between two words makes it a valid variable name. Therefore,  first_name is a valid variable name.<br>
<b>6.Special characters are not allowed in a variable name.</b><br> For example pay@ is invalid variable name.<br>
<b>7.Reserved words are not allowed as variable names.</b><br> For example for is inavalid variable name, beacause for is a reserved word in Python. It represents a loop.<br>

# reassigning values

In [47]:
x=5

In [48]:
x

5

In [49]:
x = x + 2

In [50]:
x

7

In [51]:
x += x

In [52]:
x

14

<b>similiarly we have</b><br>
x*=x<br>
x/=x<br>
x-=x<br>
x+=x<br>

# Exercise 1 : <br>
<i> take input two numbers and multiply them and show the output

In [40]:
x = 3
y = 4
z = x*y
print("the multiplication of" , x , " * " , y , "=", z)

the multiplication of 3 * 4 = 12

<b>#homework Exercise  :</b><br>
take two three numbers and display the addition ,subtraction and multiplication of them

In [ ]:
------start here--------





-------end here----------