___

<a href='https://consolelancer.com/'><img src='consolelancer.jpeg'/></a>
___
<center><em>Content Copyright by ConsoleLancer</em></center>

# Tuple <br>
A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −

In [2]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

In [3]:
tup1

('physics', 'chemistry', 1997, 2000)

In [4]:
tup2

(1, 2, 3, 4, 5)

In [5]:
tup3

('a', 'b', 'c', 'd')

In [6]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [8]:
#The empty tuple is written as two parentheses containing nothing −
tup = ()

In [9]:
tup

()

In [11]:
# mix datatype in tuples
tuple = ('paul' , 23 , 5.6)

tuple indexing

In [12]:
tuple[0]

'paul'

In [13]:
tuple[-1]

5.6

In [17]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print( tup1[1] )
print(tup2[1:5] )

chemistry
(2, 3, 4, 5)

<b>Tuple Methods</b>br
<b>len</b> returns the length of tuple <br>
<b>count()</b> Returns the number of times a specified value occurs in a tuple <br>
<b>index()</b>	 Searches the tuple for a specified value and returns the position of where it was found<br>

In [21]:
tup1 = ('physics', 'chemistry', 1997, 2000 , 1997)

In [22]:
#check length of tuple
len(tup1)

5

In [23]:
tup1.index(1997)

2

In [24]:
tup1.index('chemistry')

1

In [25]:
tup1.count(1997)

2

In [26]:
tup1.count("physics")

1

<i><b>Note : Always remember tuples are immutabe that is they cannot of canged or alter

# Homework Exercise

In [28]:
#Question 1 : Use the correct syntax to print the first item in the fruits tuple.
fruits = ("apple", "banana", "cherry")
print()

apple

In [ ]:
#write answer here
#------- start here -------



#-------end here --------

In [30]:
#Question 2 : Use the correct syntax to print the number of items in the fruits tuple.
fruits = ("apple", "banana", "cherry")
print()

3

In [ ]:
#write answer here
#------- start here -------



#-------end here ----------

In [31]:
#Question 3 : Use a range of indexes to print the third, fourth, and fifth item in the tuple.
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print()

('cherry', 'orange', 'kiwi')

In [ ]:
#write answer here
#------- start here -------



#-------end here ----------

___

<a href='https://consolelancer.com/'><img src='consolelancer.jpeg'/></a>
___
<center><em>Content Copyright by ConsoleLancer</em></center>